.contenedor {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap:5px;
  justify-content: center;
  padding: 8px;
}

.card {
  width: 400px;
  height: 350px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;
  border: 1px solid gray;
  border-radius: 15px;
}

.imagen {
  border-radius: 10px;
  width: 400px;
  height: 200px;
}

.name {
  font-size: 32px;
  font-weight: 600;
  color: white;
  transform: translateX(30%);
  transform: translatey(40%);

}

.country {
  font-size: 12px;
  font-weight: 400;
}

.row {
  display: flex;
  align-items: left;

}

.column {
  flex: 1;
  align-items: left;
  width: 100px;
  
}

.titulos {
  margin-bottom: 15px; /* Agrega el espacio deseado */
  color: white;
  font-weight: 400;
}

.titulosvalor {
  margin-bottom: 10px; /* Agrega el espacio deseado */
  color: black;
  font-weight: 400;  

}
  

.boton {
  display: inline-block;
  background-color: #7286d4;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
}

.boton:hover {
  background-color: white;
}

.boton .textoBoton {
  margin: 0;
}

.textoBoton {
  font-family: "Inria Sans";
  color:black;
  font-weight: bold;
  font-size: 20px;
  height: 20px;
  
}